
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>
      <i class="fa fa-bell"></i>
      <i class="fa fa-heart"></i>
      <i class="	fa fa-send"></i>
      <i class="fa fa-bookmark"></i>

</p>
    <p>© Sonu Kumar Keshri 2022</p>
  </div>
</div>
</body>
</html>
